<!DOCTYPE html>
<html>
  <head>
    <title>Plugintesting</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to 'Home', '/' %>
      <% if signed_out? %>
        <%= link_to 'Sign In', sign_in_path %>
      <% else %>
        <%= link_to 'all_users', pages_all_users_path %>
        <%= link_to 'Change Password', user_password_path(current_user.id), method: :put %>
        <%= button_to 'Sign Out', sign_out_path, method: :delete %>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
